    <footer class="bg-gray-800 text-gray-50 flex justify-center items-center">
        <div class="w-4/6">
            <div class="flex justify-around pb-12 pt-20">
                <img class="h-20 w-24" src="https://img.freepik.com/premium-vector/pet-logo-design_139869-268.jpg?w=2000" alt="LOGO PLACEHOLDER">
                <ul class="flex space-x-10">
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class= "border-t border-slate-50 pb-12"></div>
            <div class="text-center pb-20">
                Copyright 2023 Furrble
            </div>
        </div>
    </footer>
</body>
</html>