<header class="bg-gray-800 text-gray-50">
    <h1>Furrble</h1>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Swipe</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="/users/logout">Log out</a></li>
        </ul>
    </nav>
</header>