<%- include('./partials/header.ejs') %>
    <style>
        
        h1 {
            color: lightgray;
            font-size: large;
            padding-bottom: 20px;
        }
        details {
            margin-bottom: 20px;
            border: 1px solid black;
            border-radius: 4px;
            padding: 10px;
            transition: background-color 0.4s ease-in-out;
            color: lightgray;
        }
        summary {
            font-weight: bold;
            cursor: pointer;
        }
        summary::before {
            content: "\25BC";
            margin-right: 5px;
        }
        details:hover {
<<<<<<< HEAD
            background-color: black;
=======
            background-color: gray;
>>>>>>> ddddd0641cc498c55228f0cf6a5cab415b378f58
            cursor: pointer;
        }
    </style>

    <div id="hero-section" class="bg-gray-700 flex flex-col items-center relative h-screen">
        <div class="w-2/4 h-44 mt-28 flex flex-col items-center">
        </div>

        <head>
            <title>Frequently Asked Questions</title>
        </head>
        <body>
            <header>
                <h1>Frequently Asked Questions</h1>
            </header>

            <details>
                <summary>Do I need to be a member to adopt an animal?</summary>
                <p>Yes you need to be a member to adopt an animal.</p>
            </details>

            <details>
                <summary>Do I need to be a member to put an animal for adoption?</summary>
                <p>Yes you need to be a member to post an animal for adoption.</p>
            </details>

            <details>
                <summary>Who can adopt an animal?</summary>
                <p>Almost anyone can adopt an animal!</p>
            </details>

            <details>
                <summary>Do I need to submit an application to adopt an animal?</summary>
                <p>Yes you need to submit an application to adopt an animal. Although, these
                    applications take less than 10 minutes to complete.
                </p>
            </details>

            <details>
                <summary>Is there a limit of swipes I get per day?</summary>
                <p>There is no limit to how many swipes you get, but if you reach the end of the 
                    list of animals, swiping will no longer be an option.
                </p>
            </details>

            <details>
                <summary>Is there an easier way to search for the kind of animal I would like to adopt?</summary>
                <p>Yes there are ways to filter the animals based on characteristics you would like.
                </p>
            </details>

            <details>
                <summary>Is there an easy way to check which animals I have liked so far?</summary>
                <p>Yes you can check that under your user profile and see what animals you have liked.
                </p>
            </details>
        </body>
    </div>
<%- include ('./partials/footer.ejs') %>