<%- include ('../partials/header.ejs') %>
<div id="main">
    <ion-icon id="dislike" name="heart-dislike"></ion-icon>
    <div id="swiper">
    </div>
    <ion-icon id="like" name="heart"></ion-icon>
</div>

<script type="application/javascript" src="/js/swipe.js" defer></script>
<script content="application/javascript" type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<%- include ('../partials/footer.ejs') %>